html,
body {
    width: 336px;
    height: 262px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a2e;
    color: #d8ba77;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
}

header {
    font-family: 'Rondo', serif;
    z-index: 100;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: -30px;
}

#logo {
    color: transparent;
    position: absolute;
    top: 10px;
    left: 10px;
}

.registered {
    color: transparent;
    font-family: sans-serif;
    font-size: 7px;
    position: relative;

}


.sketch-logo {
    color: transparent;
    position: relative;
    left: 15px;
}


.sketch-logo::before, .sketch-logo::after {
    color: transparent;
    font-family: sans-serif;
    font-size: x-small;
    font-style: italic;
    padding: 0px 10px;
}

.sketch-logo::before{
    content: "MAGIC";
}

.sketch-logo::after {
    content: "SCREEN";
}


@font-face {
    font-family: Rondo;
    src: url("../assets/OPTIRondo-Bold.otf") format("opentype");
}